#main1{
	float: left;
    width: 30%;
    background-color: antiquewhite;
    height: 900px;
}

#main2{
    width: 100%;
    background-color: honeydew;
    height: 900px;
}
#logo{
	width: 160px;
    height: 99px;
    background-color: aliceblue;
    margin-left: 22%;
    margin-top: 20%;
}